@tailwind base;
@tailwind components;
@tailwind utilities;

/* HERO CSS */
.hero-div {
  width: 100%;
  height: auto;
  background-image: url("../public/images/hero.jpg");
  background-size: cover;
  color: black;
  /* opacity: 35%; */
}

/* Offer shadow box */
.offer-div {
  box-shadow: 0px 5px 10px 0px rgba(141, 133, 133, 0.25);
}








